/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-ico-checkmark {
  background-image: url(sprite.png);
  background-position: -512px -67px;
  width: 72px;
  height: 72px;
}
.icon-ico-email-green {
  background-image: url(sprite.png);
  background-position: -592px -113px;
  width: 22px;
  height: 15px;
}
.icon-ico-email-white {
  background-image: url(sprite.png);
  background-position: -592px -67px;
  width: 22px;
  height: 15px;
}
.icon-ico-facebook-gr {
  background-image: url(sprite.png);
  background-position: -607px -200px;
  width: 9px;
  height: 17px;
}
.icon-ico-facebook-white {
  background-image: url(sprite.png);
  background-position: -607px -225px;
  width: 9px;
  height: 17px;
}
.icon-ico-linkedin-green {
  background-image: url(sprite.png);
  background-position: -579px -305px;
  width: 18px;
  height: 15px;
}
.icon-ico-linkedin-h {
  background-image: url(sprite.png);
  background-position: -596px -459px;
  width: 18px;
  height: 15px;
}
.icon-ico-linkedin-white {
  background-image: url(sprite.png);
  background-position: -579px -434px;
  width: 18px;
  height: 15px;
}
.icon-ico-linkedin {
  background-image: url(sprite.png);
  background-position: -579px -369px;
  width: 18px;
  height: 15px;
}
.icon-ico-twitter-green {
  background-image: url(sprite.png);
  background-position: -472px -116px;
  width: 18px;
  height: 13px;
}
.icon-ico-twitter-h {
  background-image: url(sprite.png);
  background-position: -472px -160px;
  width: 18px;
  height: 13px;
}
.icon-ico-twitter-white {
  background-image: url(sprite.png);
  background-position: -472px -95px;
  width: 18px;
  height: 13px;
}
.icon-ico-twitter {
  background-image: url(sprite.png);
  background-position: -472px -137px;
  width: 18px;
  height: 13px;
}
.icon-ico1 {
  background-image: url(sprite.png);
  background-position: -405px -290px;
  width: 48px;
  height: 48px;
}
.icon-ico2 {
  background-image: url(sprite.png);
  background-position: -592px -90px;
  width: 22px;
  height: 15px;
}
.icon-ico3 {
  background-image: url(sprite.png);
  background-position: -579px -264px;
  width: 36px;
  height: 33px;
}
.icon-logo-alair {
  background-image: url(sprite.png);
  background-position: 0px -346px;
  width: 198px;
  height: 40px;
}
.icon-logo-bitbucket {
  background-image: url(sprite.png);
  background-position: -152px -449px;
  width: 173px;
  height: 30px;
}
.icon-logo-callrail {
  background-image: url(sprite.png);
  background-position: -230px -165px;
  width: 160px;
  height: 51px;
}
.icon-logo-citi {
  background-image: url(sprite.png);
  background-position: -512px -200px;
  width: 87px;
  height: 56px;
}
.icon-logo-cloudfarte {
  background-image: url(sprite.png);
  background-position: 0px -236px;
  width: 152px;
  height: 64px;
}
.icon-logo-digitalocean {
  background-image: url(sprite.png);
  background-position: 0px -108px;
  width: 288px;
  height: 49px;
}
.icon-logo-djoglobal {
  background-image: url(sprite.png);
  background-position: 0px -449px;
  width: 144px;
  height: 44px;
}
.icon-logo-facebook-h {
  background-image: url(sprite.png);
  background-position: -512px -264px;
  width: 59px;
  height: 57px;
}
.icon-logo-facebook {
  background-image: url(sprite.png);
  background-position: -512px -329px;
  width: 59px;
  height: 57px;
}
.icon-logo-facebook2 {
  background-image: url(sprite.png);
  background-position: -579px -329px;
  width: 34px;
  height: 32px;
}
.icon-logo-fiveguys {
  background-image: url(sprite.png);
  background-position: -145px -501px;
  width: 137px;
  height: 31px;
}
.icon-logo-github {
  background-image: url(sprite.png);
  background-position: -326px -394px;
  width: 142px;
  height: 38px;
}
.icon-logo-google {
  background-image: url(sprite.png);
  background-position: 0px -501px;
  width: 137px;
  height: 45px;
}
.icon-logo-googleapps {
  background-image: url(sprite.png);
  background-position: 0px -308px;
  width: 264px;
  height: 30px;
}
.icon-logo-insta-h {
  background-image: url(sprite.png);
  background-position: -405px -225px;
  width: 59px;
  height: 57px;
}
.icon-logo-insta {
  background-image: url(sprite.png);
  background-position: -405px -160px;
  width: 59px;
  height: 57px;
}
.icon-logo-insta2 {
  background-image: url(sprite.png);
  background-position: -579px -394px;
  width: 34px;
  height: 32px;
}
.icon-logo-laravel {
  background-image: url(sprite.png);
  background-position: -162px -394px;
  width: 156px;
  height: 42px;
}
.icon-logo-linkedin-h {
  background-image: url(sprite.png);
  background-position: -405px -95px;
  width: 59px;
  height: 57px;
}
.icon-logo-linkedin {
  background-image: url(sprite.png);
  background-position: -512px -394px;
  width: 59px;
  height: 57px;
}
.icon-logo-linkedin2 {
  background-image: url(sprite.png);
  background-position: -554px -459px;
  width: 34px;
  height: 32px;
}
.icon-logo-livechat {
  background-image: url(sprite.png);
  background-position: -512px 0px;
  width: 108px;
  height: 59px;
}
.icon-logo-magento {
  background-image: url(sprite.png);
  background-position: -170px 0px;
  width: 227px;
  height: 69px;
}
.icon-logo-mailchimp {
  background-image: url(sprite.png);
  background-position: -206px -346px;
  width: 155px;
  height: 38px;
}
.icon-logo-salus {
  background-image: url(sprite.png);
  background-position: -405px 0px;
  width: 99px;
  height: 87px;
}
.icon-logo-shopify {
  background-image: url(sprite.png);
  background-position: 0px -165px;
  width: 222px;
  height: 63px;
}
.icon-logo-sitonair {
  background-image: url(sprite.png);
  background-position: -170px -77px;
  width: 167px;
  height: 20px;
}
.icon-logo-stripe {
  background-image: url(sprite.png);
  background-position: -512px -147px;
  width: 107px;
  height: 45px;
}
.icon-logo-surfatoll {
  background-image: url(sprite.png);
  background-position: -160px -236px;
  width: 205px;
  height: 40px;
}
.icon-logo-twilio {
  background-image: url(sprite.png);
  background-position: 0px -394px;
  width: 154px;
  height: 47px;
}
.icon-logo-twitter-h {
  background-image: url(sprite.png);
  background-position: -66px -554px;
  width: 58px;
  height: 57px;
}
.icon-logo-twitter {
  background-image: url(sprite.png);
  background-position: 0px -554px;
  width: 58px;
  height: 57px;
}
.icon-logo-twitter2 {
  background-image: url(sprite.png);
  background-position: -512px -459px;
  width: 34px;
  height: 32px;
}
.icon-logo-wordpress {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 162px;
  height: 100px;
}
